body {
	margin: 0;
	font-family: 'Rockwell', 'Times New Roman';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #A1BBCE;
  }
  
  code {
	font-family: 'Rockwell', 'Times New Roman';
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: normal;
	color: #162F3B;
  }
  
  .dark-mode {
	background-color: #11242D;
  }
  
  .dark-mode h1 {
	color: #A1BBCE;
  }

  .dark-mode .toggle {
	background-color: #162F3B;
	color: #A1BBCE;
	border: 2px solid #A1BBCE;
  }

  .dark-mode .toggle:hover {
	background-color: #A1BBCE;
	color: #162F3B;
	border: 2px solid #162F3B;
  }

  .dark-mode .search {
	background-color: #A1BBCE;
  }

  .dark-mode .search input {
	background-color: #A1BBCE;
  }
  
  .container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
  }
  
  .notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Größere Mindestbreite */
	grid-auto-rows: minmax(200px, auto); /* Dynamische Zeilenhöhe */
  }
  
  
  .note.new {
	background-color: #763626;
	color: #F0D7D1;
  }
  
  textarea {
	border: none;
	resize: none;
	background-color: #763626;
	color: #F0D7D1;
	width: 100%;
	font-size: 16px;
  }

  textarea::placeholder {
	color: #F0D7D1;
	font-size: 16px;
  }
  
  textarea:focus {
	outline: none;
  }
  
  .toggle {
	background-color: #F2F5F8;
	border: none;
	border-radius: 15px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: 'Rockwell', 'Times New Roman';
	font-size: 14px;
	color:#162F3B;
  }
  
  .toggle:hover {
	background-color: #162F3B;
	color: #F2F5F8;
  }
  
  .save {
	border-radius: 15px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: 'Rockwell', 'Times New Roman';
	font-size: 14px;
	background-color: #763626;
	color: #F0D7D1;
	border: 2px solid #F0D7D1;
  }

  .save:hover {
	color: #763626;
	background-color: #F0D7D1;
  }

  .note {
	background-color: #CCC5B7;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	color: #302C21;
  }

  .noteTitle {
	font-size: 20px;
	font-weight: bold;
  }

  .showMoreWeather {
	border-radius: 15px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: 'Rockwell', 'Times New Roman';
	font-size: 12px;
	background-color: #CCC5B7;
	color: #302C21;
	border: 2px solid #302C21;
  }

  .showMoreWeather:hover {
	color: #CCC5B7;
	background-color: #302C21;
  }
  
  .note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .search {
	display: flex;
	align-items: center;
	background-color: #F2F5F8;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
	font-family: 'Rockwell', 'Times New Roman';
	font-size: 16px;
  }
  
  .search input {
	border: none;
	background-color: #F2F5F8;
	width: 100%;
	font-family: 'Rockwell', 'Times New Roman';
  }
  
  .search input:focus {
	outline: none;
  }
  
  .map-container {
	width: 100%;
	height: 300px;
  }

  .tomtomAttribution {
	display: none;
  }
  
  .weather {
	margin-top: 1rem;
  }
  
  .note-delete-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
  }
  
  .note-delete-icon {
	cursor: pointer;
	color: #302C21;
	font-size: 1.3em;
  }

  .note-delete-icon:hover {
	color:#87331C;
  }
  
  .expired{
	background-color: #524A3A;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	color: #DDD9CF;
  }

  .expired .note-delete-icon {
	color: #DDD9CF;
  }

  .expired .note-delete-icon:hover {
	color: #d75e3d;
  }

  .expired .showMoreWeather {
	background-color: #524A3A;
	color:#DDD9CF;
	border: 2px solid #DDD9CF;
  }

  .expired .showMoreWeather:hover {
	background-color: #DDD9CF;
	color:#524A3A;
  }

  